<%= stylesheets('gifts') %>
<div id="sign_up_thanks">
  <h1 >Success! You've just made someone smile.</h1>
</div>
<br>
<div class="instructions">  
  <h2>Now go tell three friends, two family members, and one enemy about SendFiveNow.</h2>
</div>  
<hr>
<!--
<br>
<div class="instructions">
  Now sign up for an account and send $5 to the rest of your friends and family.
</div>
</br>

<div id="gift_form_container">
  <%= render 'form'%>
</div>
-->
