= stylesheets('gifts')
#gift_form_container
  - if params[:vendor].present?
    .instructions
      Choose what gift you would like to send
    = render 'text_message_form'	
  - else
    - if @vendors.present?
      .instructions
        Choose what gift you would like to send
      = render 'vendor_form'
    - else
      .instructions
        We're sorry. We've been making too many people smile and are out of gift codes. Check back soon!
