<%= stylesheets('pages') %>
<div id="learn_more_top">sendfiveNow allows you to send an SMS message to your friends and family with $5 gift codes to local and national retailers or $5 donations to charities. Buy your friend a beer on his birthday, say hello to your Mom with a cup of coffee, or donate $5 in your little brother's name to a charity. Make someone's day with a hello and an unexpected $5 gift in three easy steps.
  <br/>
  <br/>
  <div id="send_five_now_wrapper"><%=  link_to 'Send $5 Now', new_gift_path %></div>
</div>

<div id="column_wrapper">
  <div id="one" class="column">
    <h1>Choose what to send.</h1>
    <div class="column_text">Select from our list of merchants. You can send a $5 gift code redeemable at bars, cafes, and restaurants or decide to send $5 to several charities.</div>
  </div>
  <div id="two" class="column">
    <h1>Tell us who to Send Five to.</h1>
    <div class="column_text">Enter the name and SMS eligible phone number of whomever you'd like to send five to. You can even customize the message to say whatever you'd like. Happy Birthday, Thanks, Good Luck! It's that simple.</div>
  </div>
  <div id="three" class="column">
    <h1>Pay and send your gift.</h1>
    <div class="column_text">Pay through PayPal. Upon payment we'll send your message to the recipient with the redemption code. You'll make someone's day and deposit some good karma into the bank.</div>
  </div>
  <div class="clr"></div>
</div>



<!-- <div id="one">
  1. Choose What to Send.</br>
  <p>Select from our list of merchants. You can send a $5 gift code redeemable at bars, cafes, and restaurants or decide to send $5 to several charities.</p>
</div>

<div id="three">
  3. Pay and Send Your Gift.</br>
  <p>Pay through PayPal. Upon payment we'll send your message to the recipient with the redemption code. You'll make someone's day and deposit some good karma into the bank.</p>
</div>

<div id="two">
  2. Tell Us Who to Send Five To</br>
  <p>Enter the name and SMS eligible phone number of whomever you'd like to send five to. You can even customize the message to say whatever you'd like. Happy Birthday, Thanks, Good Luck! It's that simple.</p> 
</div> -->
  
  
