/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 * require_tree . 
*/

body {
  background-image:url('bg-tile.gif');
}

div.clr {
  clear:both;
}

h1 h2 h3 h4 h5 h6 { font-weight: bold; }

.clr { clear:both }

#header {
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.content_wrapper {
  width: 960px;
  margin: 0 auto;
  font-family: 'Arvo', serif;
}

#logo {
  height: 55px;
  padding: 10px;
  font-family: 'Arvo', serif;
  font-size: 50px;
  float: left;
}

#logo .first{
  font-weight: normal;
  color: #69D6FF;
}

#logo .second{
  font-weight:bolder;
  font-style:italic;
  color: #FFEF5C;
}

#top_navigation {
  float: right;
  padding: 10px;
  height: 25px;
  margin-top: 15px;
}

#top_navigation a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

#top_navigation a:hover {
  text-decoration: underline;
}

#home_banner {
  height: 400px;
}

#main_content {
  margin-top: -325px;
}

.button {
  display: block;
  width: 350px;
  height: 50px;
  margin: 10px auto 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFEF5C, #F8FF92);
  -webkit-box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699;
  box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699, inset -1px 0 #006699,inset 1px 0 #006699;
  color: #006699;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  font: 32px "Arvo",serif;
  padding: 16px 40px 12px 40px;
  font-weight: bold;
  text-align: center;
}


.previewbutton {
  display: block;
  width: 350px;
  height: 50px;
  margin: 20px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFEF5C, #F8FF92);
  -webkit-box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699;
  box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699, inset -1px 0 #006699,inset 1px 0 #006699;
  color: #006699;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  font: 32px "Arvo",serif;
  padding: 12px 20px 50px 20px;
  font-weight: bold;
  text-align: center;
}

.paybutton {
  display: block;
  width: 350px;
  height: 50px;
  margin: 20px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFEF5C, #F8FF92);
  -webkit-box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699;
  box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699, inset -1px 0 #006699,inset 1px 0 #006699;
  color: #006699;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  font: 32px "Arvo",serif;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  background: -webkit-linear-gradient(top, #FFEF5C, #DFCD21);
  color: #117799;
  text-shadow: 1px 1px #69D6FF; 
}

.previewbutton:hover {
  background: -webkit-linear-gradient(top, #FFEF5C, #DFCD21);
  color: #117799;
  text-shadow: 1px 1px #69D6FF; 
}

.paybutton:hover {
  background: -webkit-linear-gradient(top, #FFEF5C, #DFCD21);
  color: #117799;
  text-shadow: 1px 1px #69D6FF; 
}

#new_account_field {
	padding: 20px;
}

input[type='text']:focus {
  border: 1px solid #667799;
  padding: 5px;
  font-size: large;
}

input[type='text'], textarea{
  padding: 5px;
  font-size: large;
}

.inputs input, .inputs textarea{
  margin-top: 5px;
  margin-left: 20px;
}

.inputs textarea {
  width: 580px;
  height: 150px;
}

.inputs input.inline {
}

#text_char_count {
  float:right;
  font-size: smaller;
  font-weight: light;
  color: gray;
}

#gift_form_container {
  width: 615px;
  margin: auto;
  padding: 10px;
  background: white;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: rgb(207, 206, 206) 0px 0px 3px;
  box-shadow: rgb(207, 206, 206) 0px 0px 3px;
}

#create_account {
  margin: 0 auto;
  margin-top: 10px;
}

#sign_up_thanks {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  background: #F1FF77;
  border: 2px solid #FFEF5C;
  text-align: center;
}

.instructions {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.show  {
  display: block;
  margin-left: 20px;
  padding: 10px;
}

.pay_and_send_wrapper {
  width: 400px;
  margin: 0 auto;
}
