/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/



#header h1 {
  font-family: 'Arvo', serif;
  font-size: 50px;
  /* font-family: 'Fjord One', serif; */
}

#header h1 .first{
  font-weight: normal;
  text-shadow: -1px 1px #006699;
  color: #69D6FF;
}


#header h1 .second{
  font-weight:bolder;
  font-style:italic;
  text-shadow: -1px 1px #006699;
  color: #FFEF5C;
}
