// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.clr {
  clear:both;
}



#home_banner {
  background: #6FB7E9;
  border-bottom: 1px solid #006699;
}

#learn_more_top {
  color: white;
  font-size: 25px;
  height: 177px;
}

#column_wrapper {
  padding:30px 0;
}
#column_wrapper div.column {
  float:left;
  width:30%;
  color: #000000;
  padding:10px 10px 0;
  height:150px;
}
#column_wrapper div.column h1 {
  font-size:20px;
  padding-bottom:10px;
}
#column_wrapper div.column div.column_text {
  color:#666666;
}
#column_wrapper #one {
  border-right:1px solid #CCCCCC;
}
#column_wrapper #two {
  border-right:1px solid #CCCCCC;
  border-left:1px solid #FFFFFF;
}
#column_wrapper #three {
  border-left:1px solid #FFFFFF;
}




.home_page_image_container {
  background: green;
}

.phone_image_wrapper {
  margin-left: 30px;
  width: 280px;
  float:left;
}

img.home_iphone {
  width: 280px;
  height: 586px;
}

.actions_wrapper {
  float:left;
  width: 630px;
  padding: 10px;
  margin-top: 90px;
}

#purpose {
  margin: 0 auto;
  font-size: 32pt;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px #006699; 
  text-align: center;
}
#tagline {
  margin: 0 auto;
  margin-top: 10px;
  font-size: 28pt;
  font-weight: bolder;
  color: #006699;
  text-align: center;
  text-shadow: 1px 1px #FFFFFF;
}

.actions_wrapper form {
  width: 100px;
  margin: 0 auto;
}
#new_gift_button {
  width: 100px;
  padding: 15px;
}
#learn_more_wrapper {
  width: 100px;
  margin: 0px auto;
  text-align: center;
}

#learn_more {
  font-size: 8pt;
  color: #006699;
  text-decoration: none;
}

#learn_more:hover{
  text-decoration: underline;
}

#send_five_now_wrapper {
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;
}

#send_five_now_wrapper a{
  display: block;
  width: 250px;
  height: 50px;
  margin: 10px auto 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFEF5C, #F8FF92);
  -webkit-box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699;
  box-shadow: inset 0 1px 0 #006699,inset 0 -1px 0 #006699, inset -1px 0 #006699,inset 1px 0 #006699;
  color: #006699;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  font: 32px "Arvo",serif;
  padding: 16px 40px 12px 40px;
  font-weight: bold;
}

#send_five_now_wrapper a:hover {
  background: -webkit-linear-gradient(top, #FFEF5C, #DFCD21);
  color: #117799;
  text-shadow: 1px 1px #69D6FF; 
}

