<div id="top_navigation">
  <% if session[:user_id].present? %>
    <%= link_to "My Account", user_url(session[:user_id]) %> | <%= link_to "Sign Out", session_url(session[:user_id]), :method => "delete" %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
  <% end %>
</div>
